# 01. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Importing Prepared Data

In [2]:
# Path Shortcut
path = r'C:\Users\esteb\OneDrive\Desktop\2025_Instacart Basket Analysis'

In [3]:
# Import Prepared Orders Data
df_ords = pd.read_csv(os.path.join(path, '02_Data', 'Prepared Data', 'orders_wrangled.csv'))

In [4]:
# Import Prepared Products Data
df_prods = pd.read_csv(os.path.join(path, '02_Data', 'Prepared Data', 'products_clean.csv'))

In [5]:
# Import Prepared Departments Data
df_deps = pd.read_csv(os.path.join(path, '02_Data', 'Prepared Data', 'departments_wrangled_task.csv'))

# 03. Consistency Check Products

In [12]:
df_prods.isnull().sum()

Unnamed: 0       0
product_id       0
product_name     0
aisle_id         0
department_id    0
prices           0
dtype: int64

In [37]:
# Check Columns
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [38]:
df_prods.describe()

         Unnamed: 0    product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000  49672.000000   49672.000000  49672.000000
mean   24852.005053  24850.349775     67.762442      11.728942      9.993282
std    14342.265579  14340.705287     38.315784       5.850779    453.615536
min        0.000000      1.000000      1.000000       1.000000      1.000000
25%    12432.750000  12432.750000     35.000000       7.000000      4.100000
50%    24851.500000  24850.500000     69.000000      13.000000      7.100000
75%    37272.250000  37268.250000    100.000000      17.000000     11.100000
max    49692.000000  49688.000000    134.000000      21.000000  99999.000000

In [39]:
# Drop Unnamed: 0 Column
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [40]:
# Check Column Names
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [41]:
# Finding Outliers in df_prods Price Column
df_prods[df_prods['prices'] > df_prods['prices'].mean() + (2 * df_prods['prices'].std())]

,product_id,product_name,aisle_id,department_id,prices
21538,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0
33649,33664,2 % Reduced Fat Milk,84,16,99999.0

Milk and cottage chese should not be that expensive.

In [42]:
# Finding Median in Price Column
df_prods['prices'].median()

7.1

The easy solution will be to replace the outliers with the median and be done with it or one can do a little more digging and find a price that is closer to what the items might cost. If you have access to the department you could also ask. For this example we will use the median.

In [43]:
# Replacing the outliers with the median
df_prods = df_prods.replace({"prices":{14900.0:7.1, 99999.0:7.1}})

In [44]:
#Checking the dataframe 
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000   49672.000000  49672.000000
mean   24850.349775     67.762442      11.728942      7.680414
std    14340.705287     38.315784       5.850779      4.199298
min        1.000000      1.000000       1.000000      1.000000
25%    12432.750000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.250000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000     25.000000

In [45]:
# Mixed Type Data Check
for col in df_prods.columns:
    types_in_col = df_prods[col].map(type).nunique()
    if types_in_col > 1:
        print(f"Mixed types found in column: {col}")

No columns where printed for mixed data type.

In [46]:
# Check for Missing Values
df_prods.isnull().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
prices           0
dtype: int64

In [47]:
# Checking for Duplicates
df_prods[df_prods.duplicated()]

Empty DataFrame
Columns: [product_id, product_name, aisle_id, department_id, prices]
Index: []

# 04. Consistency Check Orders Data

In [48]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [49]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [50]:
# Drop Column Unnamed: 0 from df_ords
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [51]:
# Check Columns in df_ords
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [52]:
# Mixed Type Data Check
for col in df_ords.columns:
    types_in_col = df_ords[col].map(type).nunique()
    if types_in_col > 1:
        print(f"Mixed types found in column: {col}")

In [53]:
# Check for Missing Values excluding days_since_prior_order column
df_ords.drop(columns=['days_since_prior_order']).isnull().sum()

order_id              0
user_id               0
order_number          0
orders_day_of_week    0
order_hour_of_day     0
dtype: int64

I excluded days_since_prior_order column because no days could of passed since the first order was created by each user_id giving it an NaN value.

In [54]:
# Ensuring each NaN value in the days_since_prior_order pertains to the users first order
(df_ords[df_ords['days_since_prior_order'].isnull()]['order_number'] == 1).all()

True

True value means that every NaN value is only on first orders.

In [55]:
df_ords[df_ords.duplicated()]

Empty DataFrame
Columns: [order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

# 05. Export Data

In [57]:
# df_prods Export
df_prods.to_csv(os.path.join(path, '02_Data', 'Prepared Data', 'products_checked.csv'))

In [58]:
# df_ords Export
df_ords.to_csv(os.path.join(path, '02_Data', 'Prepared Data', 'orders_checked.csv'))