# 01. Import Libraries

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

# 02. Import csv or pkl files

In [2]:
# File Path
path = r'C:\Users\esteb\OneDrive\Desktop\2025_Instacart Basket Analysis'

In [3]:
# Orders and Products Combines pkl import
df_comb = pd.read_pickle(os.path.join(path, '02_Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
#Products Check csv import
df_prods = pd.read_csv(os.path.join(path, '02_Data', 'Prepared Data', 'products_checked.csv'))

# 03. Check Dataframes Combined pkl and Products Checked csv

In [5]:
# Check Dataframe combined
df_comb.shape

(32434489, 10)

In [6]:
# Combined Column Names
df_comb.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [7]:
# Check Dataframe products
df_prods.shape

(49672, 6)

In [8]:
# Products Column names
df_prods.columns

Index(['Unnamed: 0', 'product_id', 'product_name', 'aisle_id', 'department_id',
       'prices'],
      dtype='object')

In [9]:
# Drop df_comb _merge Column
df_comb = df_comb.drop(columns = ['_merge'])

In [10]:
# Recheck drop column in df_comb
df_comb.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered'],
      dtype='object')

In [11]:
# Drop df_prods Unnamed: 0 Column
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [12]:
# Recheck drop column in df_prods
df_prods.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

# 04. Merge Dataframes

In [13]:
df_comb.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [14]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [15]:
# Merge Inner Using product_id
df_prods_merged = df_comb.merge(df_prods, on = 'product_id', indicator = True)

In [16]:
df_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [17]:
df_prods_merged.shape

(32404859, 14)

# 04. Export Data

In [18]:
df_prods_merged.to_pickle(os.path.join(path, '02_Data', 'Prepared Data', 'orders_products_merged.pkl'))