# 01. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Import Data

In [2]:
path = r'C:\Users\esteb\OneDrive\Desktop\2025_Instacart Basket Analysis'

In [3]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02_Data', 'Prepared Data', 'orders_products_merged_new_columns.pkl'))

# 03. Subset of Dataframe

In [4]:
# Subset
df_sub = df_ords_prods_merge[:1000000]

In [5]:
# Find the average order_number per department_id for the subset
df_sub.groupby(['department_id']).agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                14.800024
2                17.091743
3                17.913544
4                17.893092
5                15.214270
6                15.382135
7                17.694027
8                16.458105
9                15.957363
10               20.091818
11               16.482026
12               15.615061
13               16.484023
14               17.524632
15               15.691875
16               18.014071
17               16.150593
18               19.602850
19               17.631340
20               17.138607
21               21.956893

In [6]:
# Find the average order_number per department_id for the entire data set
df_ords_prods_merge.groupby(['department_id']).agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

--Answer 3 = All departments are shown in both sets but with slight variations in the average of sales. This is to be expected as using the entire data set should be more precise. Having that said, the data as a subset is usable as the mean look similar to those of the entire data set.

# 04. Loyalty Flag for Existing Customers

In [7]:
# Creating a new column
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\esteb\AppData\Local\Temp\ipykernel_21292\1391675349.py:2: FutureWarning: The provided callable <function max at 0x0000021C42A00360> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
# Check Columns
df_ords_prods_merge.head(5)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,daily_frequency,new_daily_frequency,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly days,Average Orders,10
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Regularly days,Average Orders,10
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly days,Average Orders,10
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Regularly days,Average Orders,10
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Regularly days,Average Orders,10

In [9]:
# Assign Loyalty Flag based on max_orders
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal Customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular Customer'
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New Customer'

In [10]:
# Check Loyalty Flag
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular Customer    15876776
Loyal Customer      10284093
New Customer         6243990
Name: count, dtype: int64

In [11]:
# Check Loyalty flag in the dataframe using a column specific check
df_ords_prods_merge[['user_id', 'loyalty_flag', 'order_number', 'max_order']].head(60)

    user_id      loyalty_flag  order_number  max_order
0         1      New Customer             1         10
1         1      New Customer             1         10
2         1      New Customer             1         10
3         1      New Customer             1         10
4         1      New Customer             1         10
5         1      New Customer             2         10
6         1      New Customer             2         10
7         1      New Customer             2         10
8         1      New Customer             2         10
9         1      New Customer             2         10
10        1      New Customer             2         10
11        1      New Customer             3         10
12        1      New Customer             3         10
13        1      New Customer             3         10
14        1      New Customer             3         10
15        1      New Customer             3         10
16        1      New Customer             4         10
17        1      New Customer             4         10
18        1      New Customer             4         10
19        1      New Customer             4         10
20        1      New Customer             4         10
21        1      New Customer             5         10
22        1      New Customer             5         10
23        1      New Customer             5         10
24        1      New Customer             5         10
25        1      New Customer             5         10
26        1      New Customer             5         10
27        1      New Customer             5         10
28        1      New Customer             5         10
29        1      New Customer             6         10
30        1      New Customer             6         10
31        1      New Customer             6         10
32        1      New Customer             6         10
33        1      New Customer             7         10
34        1      New Customer             7         10
35        1      New Customer             7         10
36        1      New Customer             7         10
37        1      New Customer             7         10
38        1      New Customer             8         10
39        1      New Customer             8         10
40        1      New Customer             8         10
41        1      New Customer             8         10
42        1      New Customer             8         10
43        1      New Customer             8         10
44        1      New Customer             9         10
45        1      New Customer             9         10
46        1      New Customer             9         10
47        1      New Customer             9         10
48        1      New Customer             9         10
49        1      New Customer             9         10
50        1      New Customer            10         10
51        1      New Customer            10         10
52        1      New Customer            10         10
53        1      New Customer            10         10
54        1      New Customer            10         10
55        1      New Customer            10         10
56        1      New Customer            10         10
57        1      New Customer            10         10
58        1      New Customer            10         10
59        2  Regular Customer             1         14

In [12]:
# Drop duplicate user to properly check flags
df_loyalty_check = df_ords_prods_merge.drop_duplicates(subset = 'user_id')

In [13]:
#View more rows when using head
pd.set_option('display.max_rows', 100)

In [14]:
# Re-check the loyalty flag in the drop duplicate dataframe using a column specific check
df_loyalty_check[['user_id', 'loyalty_flag', 'max_order']].head(100)

       user_id      loyalty_flag  max_order
0            1      New Customer         10
59           2  Regular Customer         14
254          3  Regular Customer         12
342          4      New Customer          5
360          5      New Customer          4
397          6      New Customer          3
411          7  Regular Customer         20
617          8      New Customer          3
666          9      New Customer          3
742         10      New Customer          5
885         11      New Customer          7
979         12      New Customer          5
1053        13  Regular Customer         12
1134        14  Regular Customer         13
1344        15  Regular Customer         22
1416        16      New Customer          6
1486        17  Regular Customer         40
1780        18      New Customer          6
1819        19      New Customer          9
2023        20      New Customer          4
2045        21  Regular Customer         33
2250        22  Regular Customer         15
2319        23      New Customer          4
2359        24  Regular Customer         18
2397        25      New Customer          3
2418        26  Regular Customer         12
2474        27    Loyal Customer         81
3240        28  Regular Customer         24
3421        29  Regular Customer         18
3646        30      New Customer          8
3657        31  Regular Customer         20
3956        32      New Customer          5
4070        33      New Customer          3
4123        34      New Customer          5
4155        35      New Customer          9
4339        36  Regular Customer         37
4492        37  Regular Customer         23
4680        38  Regular Customer         12
4873        39      New Customer          7
5014        40      New Customer          9
5118        41      New Customer          5
5183        42  Regular Customer         16
5316        43  Regular Customer         11
5463        44      New Customer          3
5500        45      New Customer          4
5518        46  Regular Customer         19
5675        47      New Customer          5
5701        48      New Customer         10
5814        49      New Customer          8
5861        50    Loyal Customer         67
6314        51      New Customer          3
6343        52  Regular Customer         27
6510        53      New Customer          3
6545        54    Loyal Customer         77
7162        55      New Customer          7
7249        56  Regular Customer         12
7394        57  Regular Customer         14
7466        58  Regular Customer         15
7563        59      New Customer         10
7655        60      New Customer          8
7722        61      New Customer          4
7809        62      New Customer         10
7889        63  Regular Customer         39
8393        64      New Customer         10
8528        65  Regular Customer         14
8660        66      New Customer          6
8683        67  Regular Customer         24
8764        68      New Customer          6
8834        69      New Customer          5
8884        70  Regular Customer         13
8988        71  Regular Customer         23
9425        72  Regular Customer         12
9472        73      New Customer          7
9496        74      New Customer          5
9544        75  Regular Customer         23
9855        76      New Customer          9
9887        77  Regular Customer         12
10090       78      New Customer          6
10131       79      New Customer          7
10224       80  Regular Customer         12
10352       81      New Customer          7
10378       82  Regular Customer         19
10509       83      New Customer          6
10548       84      New Customer          8
10612       85      New Customer          7
10642       86  Regular Customer         17
10909       87  Regular Customer         27
11085       88      New Customer          7
11096       89  Regular Customer         20
11335       90    Loyal Customer         71
12005       91  Regular Customer         15
12216       92      New Customer          5
12236       93  Regular Customer         14
12267       94      New Customer          9
12323       95      New Customer          8
12467       96  Regular Customer         16
12610       97      New Customer          5
12664       98  Regular Customer         14
12714       99  Regular Customer         18
12925      100      New Customer          5

In [15]:
# Check Loyalty Flag count
df_loyalty_check['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
New Customer        112328
Regular Customer     76864
Loyal Customer       17017
Name: count, dtype: int64

In [16]:
# Reset pandas view rows
pd.reset_option('display.max_rows')

# 05. Basic Customer Statistics using Flag

In [17]:
# Use aggregate function on loyalty flag to find mean, min, max
df_ords_prods_merge.groupby(['loyalty_flag']).agg({'prices':['mean', 'min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal Customer    7.773487  1.0  25.0
New Customer      7.801077  1.0  25.0
Regular Customer  7.798145  1.0  25.0

Based on the loyalty flag all customers spend about the same. The just a couple of pennies difference between the different loyalty flag groups.

# 06. User item Spending Flag

In [18]:
# Create a column for average price each user pays per item
df_ords_prods_merge['average_spend_item'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\esteb\AppData\Local\Temp\ipykernel_21292\4070684894.py:2: FutureWarning: The provided callable <function mean at 0x0000021C42A00D60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_ords_prods_merge['average_spend_item'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [19]:
# Assign Spender Flag based on average item price per user
df_ords_prods_merge.loc[df_ords_prods_merge['average_spend_item'] < 10, 'spnd_itm_price_flag'] = 'Lwr Itm Price Spndr'
df_ords_prods_merge.loc[df_ords_prods_merge['average_spend_item'] >= 10, 'spnd_itm_price_flag' ] = 'Hi Itm Price Spndr'

In [20]:
# Check Spender Flag
df_ords_prods_merge['spnd_itm_price_flag'].value_counts(dropna = False)

spnd_itm_price_flag
Lwr Itm Price Spndr    32285150
Hi Itm Price Spndr       119709
Name: count, dtype: int64

In [21]:
#View more rows when using head
pd.set_option('display.max_rows', 100)

In [22]:
df_ords_prods_merge[['user_id', 'average_spend_item', 'spnd_itm_price_flag']].head(100)

    user_id  average_spend_item  spnd_itm_price_flag
0         1            6.367797  Lwr Itm Price Spndr
1         1            6.367797  Lwr Itm Price Spndr
2         1            6.367797  Lwr Itm Price Spndr
3         1            6.367797  Lwr Itm Price Spndr
4         1            6.367797  Lwr Itm Price Spndr
5         1            6.367797  Lwr Itm Price Spndr
6         1            6.367797  Lwr Itm Price Spndr
7         1            6.367797  Lwr Itm Price Spndr
8         1            6.367797  Lwr Itm Price Spndr
9         1            6.367797  Lwr Itm Price Spndr
10        1            6.367797  Lwr Itm Price Spndr
11        1            6.367797  Lwr Itm Price Spndr
12        1            6.367797  Lwr Itm Price Spndr
13        1            6.367797  Lwr Itm Price Spndr
14        1            6.367797  Lwr Itm Price Spndr
15        1            6.367797  Lwr Itm Price Spndr
16        1            6.367797  Lwr Itm Price Spndr
17        1            6.367797  Lwr Itm Price Spndr
18        1            6.367797  Lwr Itm Price Spndr
19        1            6.367797  Lwr Itm Price Spndr
20        1            6.367797  Lwr Itm Price Spndr
21        1            6.367797  Lwr Itm Price Spndr
22        1            6.367797  Lwr Itm Price Spndr
23        1            6.367797  Lwr Itm Price Spndr
24        1            6.367797  Lwr Itm Price Spndr
25        1            6.367797  Lwr Itm Price Spndr
26        1            6.367797  Lwr Itm Price Spndr
27        1            6.367797  Lwr Itm Price Spndr
28        1            6.367797  Lwr Itm Price Spndr
29        1            6.367797  Lwr Itm Price Spndr
30        1            6.367797  Lwr Itm Price Spndr
31        1            6.367797  Lwr Itm Price Spndr
32        1            6.367797  Lwr Itm Price Spndr
33        1            6.367797  Lwr Itm Price Spndr
34        1            6.367797  Lwr Itm Price Spndr
35        1            6.367797  Lwr Itm Price Spndr
36        1            6.367797  Lwr Itm Price Spndr
37        1            6.367797  Lwr Itm Price Spndr
38        1            6.367797  Lwr Itm Price Spndr
39        1            6.367797  Lwr Itm Price Spndr
40        1            6.367797  Lwr Itm Price Spndr
41        1            6.367797  Lwr Itm Price Spndr
42        1            6.367797  Lwr Itm Price Spndr
43        1            6.367797  Lwr Itm Price Spndr
44        1            6.367797  Lwr Itm Price Spndr
45        1            6.367797  Lwr Itm Price Spndr
46        1            6.367797  Lwr Itm Price Spndr
47        1            6.367797  Lwr Itm Price Spndr
48        1            6.367797  Lwr Itm Price Spndr
49        1            6.367797  Lwr Itm Price Spndr
50        1            6.367797  Lwr Itm Price Spndr
51        1            6.367797  Lwr Itm Price Spndr
52        1            6.367797  Lwr Itm Price Spndr
53        1            6.367797  Lwr Itm Price Spndr
54        1            6.367797  Lwr Itm Price Spndr
55        1            6.367797  Lwr Itm Price Spndr
56        1            6.367797  Lwr Itm Price Spndr
57        1            6.367797  Lwr Itm Price Spndr
58        1            6.367797  Lwr Itm Price Spndr
59        2            7.515897  Lwr Itm Price Spndr
60        2            7.515897  Lwr Itm Price Spndr
61        2            7.515897  Lwr Itm Price Spndr
62        2            7.515897  Lwr Itm Price Spndr
63        2            7.515897  Lwr Itm Price Spndr
64        2            7.515897  Lwr Itm Price Spndr
65        2            7.515897  Lwr Itm Price Spndr
66        2            7.515897  Lwr Itm Price Spndr
67        2            7.515897  Lwr Itm Price Spndr
68        2            7.515897  Lwr Itm Price Spndr
69        2            7.515897  Lwr Itm Price Spndr
70        2            7.515897  Lwr Itm Price Spndr
71        2            7.515897  Lwr Itm Price Spndr
72        2            7.515897  Lwr Itm Price Spndr
73        2            7.515897  Lwr Itm Price Spndr
74        2            7.515897  Lwr Itm Price Spndr
75        2            7.515897  Lwr Itm Price Spndr
76        2            7.515897  Lwr Itm Price Spndr
77        2            7.515897  Lwr Itm Price Spndr
78        2            7.515897  Lwr Itm Price Spndr
79        2            7.515897  Lwr Itm Price Spndr
80        2            7.515897  Lwr Itm Price Spndr
81        2            7.515897  Lwr Itm Price Spndr
82        2            7.515897  Lwr Itm Price Spndr
83        2            7.515897  Lwr Itm Price Spndr
84        2            7.515897  Lwr Itm Price Spndr
85        2            7.515897  Lwr Itm Price Spndr
86        2            7.515897  Lwr Itm Price Spndr
87        2            7.515897  Lwr Itm Price Spndr
88        2            7.515897  Lwr Itm Price Spndr
89        2            7.515897  Lwr Itm Price Spndr
90        2            7.515897  Lwr Itm Price Spndr
91        2            7.515897  Lwr Itm Price Spndr
92        2            7.515897  Lwr Itm Price Spndr
93        2            7.515897  Lwr Itm Price Spndr
94        2            7.515897  Lwr Itm Price Spndr
95        2            7.515897  Lwr Itm Price Spndr
96        2            7.515897  Lwr Itm Price Spndr
97        2            7.515897  Lwr Itm Price Spndr
98        2            7.515897  Lwr Itm Price Spndr
99        2            7.515897  Lwr Itm Price Spndr

In [23]:
# Drop duplicate user_id to properly check spender flag
df_spender_item_check = df_ords_prods_merge[['user_id', 'average_spend_item', 'spnd_itm_price_flag']].drop_duplicates(subset = 'user_id')

In [24]:
# Check spender flag using new column average_spender with no duplicate user_id
df_spender_item_check.head(100)

       user_id  average_spend_item  spnd_itm_price_flag
0            1            6.367797  Lwr Itm Price Spndr
59           2            7.515897  Lwr Itm Price Spndr
254          3            8.197727  Lwr Itm Price Spndr
342          4            8.205556  Lwr Itm Price Spndr
360          5            9.189189  Lwr Itm Price Spndr
397          6            8.471429  Lwr Itm Price Spndr
411          7            7.466990  Lwr Itm Price Spndr
617          8            8.781633  Lwr Itm Price Spndr
666          9            7.607895  Lwr Itm Price Spndr
742         10            8.651049  Lwr Itm Price Spndr
885         11            8.328723  Lwr Itm Price Spndr
979         12            8.116216  Lwr Itm Price Spndr
1053        13            8.708642  Lwr Itm Price Spndr
1134        14            8.014286  Lwr Itm Price Spndr
1344        15            3.980556  Lwr Itm Price Spndr
1416        16            8.228571  Lwr Itm Price Spndr
1486        17            7.336054  Lwr Itm Price Spndr
1780        18            7.702564  Lwr Itm Price Spndr
1819        19            8.372059  Lwr Itm Price Spndr
2023        20            5.409091  Lwr Itm Price Spndr
2045        21            7.012683  Lwr Itm Price Spndr
2250        22            7.427536  Lwr Itm Price Spndr
2319        23            8.222500  Lwr Itm Price Spndr
2359        24            6.742105  Lwr Itm Price Spndr
2397        25            8.257143  Lwr Itm Price Spndr
2418        26            6.783929  Lwr Itm Price Spndr
2474        27            7.659269  Lwr Itm Price Spndr
3240        28            8.355249  Lwr Itm Price Spndr
3421        29            7.437333  Lwr Itm Price Spndr
3646        30            9.436364  Lwr Itm Price Spndr
3657        31            8.137793  Lwr Itm Price Spndr
3956        32            7.571930  Lwr Itm Price Spndr
4070        33            6.622642  Lwr Itm Price Spndr
4123        34            7.046875  Lwr Itm Price Spndr
4155        35            7.906522  Lwr Itm Price Spndr
4339        36            7.285621  Lwr Itm Price Spndr
4492        37            8.036170  Lwr Itm Price Spndr
4680        38            8.456477  Lwr Itm Price Spndr
4873        39            7.141844  Lwr Itm Price Spndr
5014        40            6.668269  Lwr Itm Price Spndr
5118        41            8.061538  Lwr Itm Price Spndr
5183        42            7.466165  Lwr Itm Price Spndr
5316        43            7.444898  Lwr Itm Price Spndr
5463        44            8.194595  Lwr Itm Price Spndr
5500        45            5.022222  Lwr Itm Price Spndr
5518        46            8.345223  Lwr Itm Price Spndr
5675        47            8.676923  Lwr Itm Price Spndr
5701        48            8.066372  Lwr Itm Price Spndr
5814        49            7.408511  Lwr Itm Price Spndr
5861        50            7.899117  Lwr Itm Price Spndr
6314        51            8.693103  Lwr Itm Price Spndr
6343        52            6.356287  Lwr Itm Price Spndr
6510        53            7.765714  Lwr Itm Price Spndr
6545        54            8.621718  Lwr Itm Price Spndr
7162        55            6.886207  Lwr Itm Price Spndr
7249        56            7.633103  Lwr Itm Price Spndr
7394        57            7.433333  Lwr Itm Price Spndr
7466        58            7.377320  Lwr Itm Price Spndr
7563        59            7.176087  Lwr Itm Price Spndr
7655        60            8.153731  Lwr Itm Price Spndr
7722        61            7.127586  Lwr Itm Price Spndr
7809        62            7.632500  Lwr Itm Price Spndr
7889        63            8.217460  Lwr Itm Price Spndr
8393        64            7.643704  Lwr Itm Price Spndr
8528        65            8.003788  Lwr Itm Price Spndr
8660        66            6.560870  Lwr Itm Price Spndr
8683        67            7.656790  Lwr Itm Price Spndr
8764        68            8.644286  Lwr Itm Price Spndr
8834        69            7.274000  Lwr Itm Price Spndr
8884        70            9.642308  Lwr Itm Price Spndr
8988        71            8.594279  Lwr Itm Price Spndr
9425        72           10.034043   Hi Itm Price Spndr
9472        73            8.008333  Lwr Itm Price Spndr
9496        74            7.000000  Lwr Itm Price Spndr
9544        75            7.175563  Lwr Itm Price Spndr
9855        76            7.093750  Lwr Itm Price Spndr
9887        77            8.008374  Lwr Itm Price Spndr
10090       78            8.387805  Lwr Itm Price Spndr
10131       79            7.943011  Lwr Itm Price Spndr
10224       80            8.325000  Lwr Itm Price Spndr
10352       81            8.165385  Lwr Itm Price Spndr
10378       82            6.441221  Lwr Itm Price Spndr
10509       83            5.710256  Lwr Itm Price Spndr
10548       84            7.482812  Lwr Itm Price Spndr
10612       85           10.016667   Hi Itm Price Spndr
10642       86            7.548689  Lwr Itm Price Spndr
10909       87            8.815909  Lwr Itm Price Spndr
11085       88            3.954545  Lwr Itm Price Spndr
11096       89            7.437657  Lwr Itm Price Spndr
11335       90            5.235970  Lwr Itm Price Spndr
12005       91            7.656872  Lwr Itm Price Spndr
12216       92            6.905000  Lwr Itm Price Spndr
12236       93            5.770968  Lwr Itm Price Spndr
12267       94            9.821429  Lwr Itm Price Spndr
12323       95            7.966667  Lwr Itm Price Spndr
12467       96            6.530070  Lwr Itm Price Spndr
12610       97            7.916667  Lwr Itm Price Spndr
12664       98            8.028000  Lwr Itm Price Spndr
12714       99            7.958294  Lwr Itm Price Spndr
12925      100            9.859259  Lwr Itm Price Spndr

In [25]:
# Reset pandas view rows
pd.reset_option('display.max_rows')

In [26]:
# Check Spender Flag
df_spender_item_check['spnd_itm_price_flag'].value_counts(dropna = False)

spnd_itm_price_flag
Lwr Itm Price Spndr    202821
Hi Itm Price Spndr       3388
Name: count, dtype: int64

I believe this is a good start to show how much the users pay on averrage for items but its does not actually show us if the user is a high or low spender.

# 07. User Order Spending Flag

In [27]:
# Create a column for average price each user pays per order
df_ords_prods_merge['total_order_spend'] = df_ords_prods_merge.groupby(['order_id'])['prices'].transform('sum')

In [28]:
# Assign Spender Flag based on average item price per user
df_ords_prods_merge.loc[df_ords_prods_merge['total_order_spend'] < 50, 'order_spend_flag'] = 'Lower Spender'
df_ords_prods_merge.loc[df_ords_prods_merge['total_order_spend'] >= 50, 'order_spend_flag' ] = 'Higher Spender'

In [29]:
# Check Order Spender Flag
df_ords_prods_merge['order_spend_flag'].value_counts(dropna = False)

order_spend_flag
Higher Spender    27595101
Lower Spender      4809758
Name: count, dtype: int64

In [30]:
#View more rows when using head
pd.set_option('display.max_rows', 100)

In [31]:
df_ords_prods_merge[['user_id', 'order_id', 'total_order_spend', 'order_spend_flag']].head(100)

    user_id  order_id  total_order_spend order_spend_flag
0         1   2539329               31.6    Lower Spender
1         1   2539329               31.6    Lower Spender
2         1   2539329               31.6    Lower Spender
3         1   2539329               31.6    Lower Spender
4         1   2539329               31.6    Lower Spender
5         1   2398795               35.4    Lower Spender
6         1   2398795               35.4    Lower Spender
7         1   2398795               35.4    Lower Spender
8         1   2398795               35.4    Lower Spender
9         1   2398795               35.4    Lower Spender
10        1   2398795               35.4    Lower Spender
11        1    473747               28.2    Lower Spender
12        1    473747               28.2    Lower Spender
13        1    473747               28.2    Lower Spender
14        1    473747               28.2    Lower Spender
15        1    473747               28.2    Lower Spender
16        1   2254736               26.0    Lower Spender
17        1   2254736               26.0    Lower Spender
18        1   2254736               26.0    Lower Spender
19        1   2254736               26.0    Lower Spender
20        1   2254736               26.0    Lower Spender
21        1    431534               57.0   Higher Spender
22        1    431534               57.0   Higher Spender
23        1    431534               57.0   Higher Spender
24        1    431534               57.0   Higher Spender
25        1    431534               57.0   Higher Spender
26        1    431534               57.0   Higher Spender
27        1    431534               57.0   Higher Spender
28        1    431534               57.0   Higher Spender
29        1   3367565               25.0    Lower Spender
30        1   3367565               25.0    Lower Spender
31        1   3367565               25.0    Lower Spender
32        1   3367565               25.0    Lower Spender
33        1    550135               29.0    Lower Spender
34        1    550135               29.0    Lower Spender
35        1    550135               29.0    Lower Spender
36        1    550135               29.0    Lower Spender
37        1    550135               29.0    Lower Spender
38        1   3108588               40.2    Lower Spender
39        1   3108588               40.2    Lower Spender
40        1   3108588               40.2    Lower Spender
41        1   3108588               40.2    Lower Spender
42        1   3108588               40.2    Lower Spender
43        1   3108588               40.2    Lower Spender
44        1   2295261               40.2    Lower Spender
45        1   2295261               40.2    Lower Spender
46        1   2295261               40.2    Lower Spender
47        1   2295261               40.2    Lower Spender
48        1   2295261               40.2    Lower Spender
49        1   2295261               40.2    Lower Spender
50        1   2550362               63.1   Higher Spender
51        1   2550362               63.1   Higher Spender
52        1   2550362               63.1   Higher Spender
53        1   2550362               63.1   Higher Spender
54        1   2550362               63.1   Higher Spender
55        1   2550362               63.1   Higher Spender
56        1   2550362               63.1   Higher Spender
57        1   2550362               63.1   Higher Spender
58        1   2550362               63.1   Higher Spender
59        2   2168274               85.4   Higher Spender
60        2   2168274               85.4   Higher Spender
61        2   2168274               85.4   Higher Spender
62        2   2168274               85.4   Higher Spender
63        2   2168274               85.4   Higher Spender
64        2   2168274               85.4   Higher Spender
65        2   2168274               85.4   Higher Spender
66        2   2168274               85.4   Higher Spender
67        2   2168274               85.4   Higher Spender
68        2   2168274               85.4   Higher Spender
69        2   2168274               85.4   Higher Spender
70        2   2168274               85.4   Higher Spender
71        2   2168274               85.4   Higher Spender
72        2   1501582               19.0    Lower Spender
73        2   1501582               19.0    Lower Spender
74        2   1501582               19.0    Lower Spender
75        2   1501582               19.0    Lower Spender
76        2   1501582               19.0    Lower Spender
77        2   1501582               19.0    Lower Spender
78        2   1901567               26.6    Lower Spender
79        2   1901567               26.6    Lower Spender
80        2   1901567               26.6    Lower Spender
81        2   1901567               26.6    Lower Spender
82        2   1901567               26.6    Lower Spender
83        2    738281               96.7   Higher Spender
84        2    738281               96.7   Higher Spender
85        2    738281               96.7   Higher Spender
86        2    738281               96.7   Higher Spender
87        2    738281               96.7   Higher Spender
88        2    738281               96.7   Higher Spender
89        2    738281               96.7   Higher Spender
90        2    738281               96.7   Higher Spender
91        2    738281               96.7   Higher Spender
92        2    738281               96.7   Higher Spender
93        2    738281               96.7   Higher Spender
94        2    738281               96.7   Higher Spender
95        2    738281               96.7   Higher Spender
96        2   1673511               91.4   Higher Spender
97        2   1673511               91.4   Higher Spender
98        2   1673511               91.4   Higher Spender
99        2   1673511               91.4   Higher Spender

In [32]:
# Drop duplicate user_id to properly check spender flag
df_order_spend_check = df_ords_prods_merge[['user_id', 'order_id', 'total_order_spend', 'order_spend_flag']].drop_duplicates(subset = 'order_id')

In [33]:
#View more rows when using head
pd.set_option('display.max_rows', 100)

In [34]:
# Check order spend flag using new column total_order_spend with no duplicate user_id
df_order_spend_check.head(100)

      user_id  order_id  total_order_spend order_spend_flag
0           1   2539329               31.6    Lower Spender
5           1   2398795               35.4    Lower Spender
11          1    473747               28.2    Lower Spender
16          1   2254736               26.0    Lower Spender
21          1    431534               57.0   Higher Spender
29          1   3367565               25.0    Lower Spender
33          1    550135               29.0    Lower Spender
38          1   3108588               40.2    Lower Spender
44          1   2295261               40.2    Lower Spender
50          1   2550362               63.1   Higher Spender
59          2   2168274               85.4   Higher Spender
72          2   1501582               19.0    Lower Spender
78          2   1901567               26.6    Lower Spender
83          2    738281               96.7   Higher Spender
96          2   1673511               91.4   Higher Spender
109         2   1199898              151.9   Higher Spender
130         2   3194192               98.4   Higher Spender
144         2    788338              114.3   Higher Spender
160         2   1718559              213.1   Higher Spender
186         2   1447487               94.2   Higher Spender
195         2   1402090              114.5   Higher Spender
210         2   3186735              163.1   Higher Spender
229         2   3268552               64.8   Higher Spender
238         2    839880              132.2   Higher Spender
254         3   1374495               73.8   Higher Spender
264         3    444309               56.2   Higher Spender
273         3   3002854               58.8   Higher Spender
279         3   2037211               52.4   Higher Spender
284         3   2710558              107.2   Higher Spender
295         3   1972919               76.4   Higher Spender
303         3   1839752               77.9   Higher Spender
312         3   3225766               62.2   Higher Spender
320         3   3160850               30.7    Lower Spender
325         3    676467               40.3    Lower Spender
331         3    521107               37.2    Lower Spender
336         3   1402502               48.3    Lower Spender
342         4   3343014               41.2    Lower Spender
346         4   2030307               10.8    Lower Spender
348         4    691089               63.4   Higher Spender
355         4     94891               17.3    Lower Spender
357         4   2557754               15.0    Lower Spender
360         5   2717275               96.5   Higher Spender
371         5   1909121               81.5   Higher Spender
380         5   2267326               43.6    Lower Spender
385         5    157374              118.4   Higher Spender
397         6   2086598               40.8    Lower Spender
401         6    298250               55.4   Higher Spender
408         6    998866               22.4    Lower Spender
411         7   2565571               79.0   Higher Spender
423         7   2402008              150.1   Higher Spender
444         7    121053              166.7   Higher Spender
468         7   1695742              111.0   Higher Spender
484         7   3321109               52.0   Higher Spender
494         7   1682003               21.5    Lower Spender
497         7   1014379                6.3    Lower Spender
498         7    776265               69.7   Higher Spender
506         7   2507052               74.7   Higher Spender
516         7   1396119               51.3   Higher Spender
523         7    565870               69.7   Higher Spender
532         7   3239072               19.7    Lower Spender
536         7   1175028               96.1   Higher Spender
545         7   3060817               36.9    Lower Spender
549         7   3120740               74.4   Higher Spender
559         7   2425840              114.0   Higher Spender
576         7     23391              102.3   Higher Spender
587         7   2984707              116.8   Higher Spender
600         7    369015               24.1    Lower Spender
605         7   2452257              101.9   Higher Spender
617         8    600894              161.3   Higher Spender
638         8   2979257              135.0   Higher Spender
653         8   2570360              134.0   Higher Spender
666         9    280530              215.8   Higher Spender
696         9   2762092              120.6   Higher Spender
707         9   1830137              241.8   Higher Spender
742        10   1224907               39.1    Lower Spender
747        10     68288              429.6   Higher Spender
793        10   2115522              268.8   Higher Spender
826        10     83395              259.6   Higher Spender
856        10   1353310              240.0   Higher Spender
885        11   2411567              101.4   Higher Spender
898        11   1170872              118.7   Higher Spender
911        11   2840752              125.6   Higher Spender
926        11   1611810               82.1   Higher Spender
936        11   2921164               80.8   Higher Spender
947        11    790927              122.6   Higher Spender
964        11   1468214              151.7   Higher Spender
979        12   1483446               17.8    Lower Spender
982        12   1247527              131.2   Higher Spender
999        12   1916106               97.0   Higher Spender
1011       12   1057378              190.3   Higher Spender
1031       12    221248              164.3   Higher Spender
1053       13   2618231               37.3    Lower Spender
1058       13   2560699               45.7    Lower Spender
1062       13   2288946               95.0   Higher Spender
1071       13     19256               36.0    Lower Spender
1076       13   1378982               67.7   Higher Spender
1082       13   2363981               55.2   Higher Spender
1089       13   1906169               83.8   Higher Spender
1099       13   1757094               49.4    Lower Spender
1104       13    519471               48.1    Lower Spender

In [35]:
# Check Order Spender Flag in df_order_spend_check dataframe
df_order_spend_check['order_spend_flag'].value_counts(dropna = False)

order_spend_flag
Higher Spender    1979163
Lower Spender     1235522
Name: count, dtype: int64

In [36]:
# Reset pandas view rows
pd.reset_option('display.max_rows')

I rather use what the user has spent on average per order instead of the average spent on items as it reflects better the users spending habits. The average price of items users get might be more of an indication of what items actually cost rather than what the user is willing to spend.

# 08. User Frequency Flag

In [37]:
df_ords_prods_merge['customer_freq'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\esteb\AppData\Local\Temp\ipykernel_21292\1219783245.py:1: FutureWarning: The provided callable <function median at 0x0000021C42B879C0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_ords_prods_merge['customer_freq'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [38]:
# Assign a frequency Flag based on regularity of users ordering
df_ords_prods_merge.loc[df_ords_prods_merge['customer_freq'] > 20, 'customer_freq_flag'] = 'Frequent Customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['customer_freq'] > 10) & (df_ords_prods_merge['customer_freq'] <= 20), 'customer_freq_flag'] = 'Regular Customer'
df_ords_prods_merge.loc[df_ords_prods_merge['customer_freq'] <= 10, 'customer_freq_flag'] = 'Non-Frequent Customer'

In [39]:
# Check frequency Flag
df_ords_prods_merge['customer_freq_flag'].value_counts(dropna = False)

customer_freq_flag
Non-Frequent Customer    21559853
Regular Customer          7208564
Frequent Customer         3636437
NaN                             5
Name: count, dtype: int64

In [40]:
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,new_daily_frequency,busiest_period_of_day,max_order,loyalty_flag,average_spend_item,spnd_itm_price_flag,total_order_spend,order_spend_flag,customer_freq,customer_freq_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Regularly days,Average Orders,10,New Customer,6.367797,Lwr Itm Price Spndr,31.6,Lower Spender,20.5,Frequent Customer
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,Regularly days,Average Orders,10,New Customer,6.367797,Lwr Itm Price Spndr,31.6,Lower Spender,20.5,Frequent Customer
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,...,Regularly days,Average Orders,10,New Customer,6.367797,Lwr Itm Price Spndr,31.6,Lower Spender,20.5,Frequent Customer
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,...,Regularly days,Average Orders,10,New Customer,6.367797,Lwr Itm Price Spndr,31.6,Lower Spender,20.5,Frequent Customer
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,Regularly days,Average Orders,10,New Customer,6.367797,Lwr Itm Price Spndr,31.6,Lower Spender,20.5,Frequent Customer

In [41]:
# Drop duplicate user_id per order to properly check frequency flag
df_freq_check = df_ords_prods_merge[['user_id', 'customer_freq', 'customer_freq_flag']].drop_duplicates(subset = 'user_id')

In [42]:
#View more rows when using head
pd.set_option('display.max_rows', 100)

In [43]:
# Check frequency flag with no duplicate orders per user
df_freq_check.head(100)

       user_id  customer_freq     customer_freq_flag
0            1           20.5      Frequent Customer
59           2           13.0       Regular Customer
254          3           10.0  Non-Frequent Customer
342          4           20.0       Regular Customer
360          5           11.0       Regular Customer
397          6            6.0  Non-Frequent Customer
411          7            9.0  Non-Frequent Customer
617          8           30.0      Frequent Customer
666          9           30.0      Frequent Customer
742         10           23.0      Frequent Customer
885         11           14.0       Regular Customer
979         12           30.0      Frequent Customer
1053        13            7.0  Non-Frequent Customer
1134        14           30.0      Frequent Customer
1344        15           10.0  Non-Frequent Customer
1416        16           21.0      Frequent Customer
1486        17            5.0  Non-Frequent Customer
1780        18            8.0  Non-Frequent Customer
1819        19            6.0  Non-Frequent Customer
2023        20            6.0  Non-Frequent Customer
2045        21            7.5  Non-Frequent Customer
2250        22           13.0       Regular Customer
2319        23            9.0  Non-Frequent Customer
2359        24           14.0       Regular Customer
2397        25           30.0      Frequent Customer
2418        26            8.0  Non-Frequent Customer
2474        27            5.0  Non-Frequent Customer
3240        28           11.0       Regular Customer
3421        29           11.0       Regular Customer
3646        30           27.5      Frequent Customer
3657        31            6.0  Non-Frequent Customer
3956        32           30.0      Frequent Customer
4070        33           30.0      Frequent Customer
4123        34           21.0      Frequent Customer
4155        35           26.0      Frequent Customer
4339        36            9.0  Non-Frequent Customer
4492        37           10.0  Non-Frequent Customer
4680        38           27.0      Frequent Customer
4873        39            7.0  Non-Frequent Customer
5014        40           12.0       Regular Customer
5118        41           27.0      Frequent Customer
5183        42            9.0  Non-Frequent Customer
5316        43           10.0  Non-Frequent Customer
5463        44           30.0      Frequent Customer
5500        45           18.0       Regular Customer
5518        46           21.0      Frequent Customer
5675        47           12.0       Regular Customer
5701        48           27.0      Frequent Customer
5814        49           30.0      Frequent Customer
5861        50            5.0  Non-Frequent Customer
6314        51           17.0       Regular Customer
6343        52            8.0  Non-Frequent Customer
6510        53           16.0       Regular Customer
6545        54            4.0  Non-Frequent Customer
7162        55           13.0       Regular Customer
7249        56            8.0  Non-Frequent Customer
7394        57            9.0  Non-Frequent Customer
7466        58            9.0  Non-Frequent Customer
7563        59           15.0       Regular Customer
7655        60           26.0      Frequent Customer
7722        61           30.0      Frequent Customer
7809        62           15.0       Regular Customer
7889        63            9.0  Non-Frequent Customer
8393        64            9.0  Non-Frequent Customer
8528        65            8.0  Non-Frequent Customer
8660        66           30.0      Frequent Customer
8683        67            7.0  Non-Frequent Customer
8764        68           30.0      Frequent Customer
8834        69           13.0       Regular Customer
8884        70           17.0       Regular Customer
8988        71           14.0       Regular Customer
9425        72           15.0       Regular Customer
9472        73           22.0      Frequent Customer
9496        74           23.0      Frequent Customer
9544        75            7.0  Non-Frequent Customer
9855        76           25.0      Frequent Customer
9887        77            7.0  Non-Frequent Customer
10090       78           30.0      Frequent Customer
10131       79           21.0      Frequent Customer
10224       80            8.0  Non-Frequent Customer
10352       81           30.0      Frequent Customer
10378       82           11.5       Regular Customer
10509       83           20.0       Regular Customer
10548       84           30.0      Frequent Customer
10612       85           26.0      Frequent Customer
10642       86           19.0       Regular Customer
10909       87            7.0  Non-Frequent Customer
11085       88           28.0      Frequent Customer
11096       89            7.0  Non-Frequent Customer
11335       90            3.0  Non-Frequent Customer
12005       91            5.0  Non-Frequent Customer
12216       92           26.0      Frequent Customer
12236       93           14.0       Regular Customer
12267       94           14.0       Regular Customer
12323       95           24.0      Frequent Customer
12467       96           11.0       Regular Customer
12610       97           30.0      Frequent Customer
12664       98           25.0      Frequent Customer
12714       99           21.0      Frequent Customer
12925      100           26.0      Frequent Customer

In [44]:
df_freq_check['customer_freq_flag'].value_counts(dropna = False)

customer_freq_flag
Non-Frequent Customer    86596
Regular Customer         59993
Frequent Customer        59619
NaN                          1
Name: count, dtype: int64

In [45]:
# Reset pandas view rows
pd.reset_option('display.max_rows')

# 09. Export Data

In [46]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02_Data', 'Prepared Data', 'aggregated_ords_prods_merge.pkl'))

In [47]:
df_loyalty_check.to_pickle(os.path.join(path, '02_Data', 'Prepared Data', 'loyalty_check.pkl'))

In [48]:
df_spender_item_check.to_pickle(os.path.join(path, '02_Data', 'Prepared Data', 'avg_item_spend.pkl'))

In [49]:
df_order_spend_check.to_pickle(os.path.join(path, '02_Data', 'Prepared Data', 'order_spend.pkl'))

In [50]:
df_freq_check.to_pickle(os.path.join(path, '02_Data', 'Prepared Data', 'user_frequency.pkl'))